<!DOCTYPE html>
<html>
<head>
  <title>Bt components</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%= stylesheet_link_tag "bt_components/application", media: "all" %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "bt_components", "data-turbo-track": "reload" %>
</head>
<body>

<%= yield %>

</body>
</html>
